# Extensions
*.xlsx
*.pdf
*.png
*.Rmd
*.html
*.rds
*.txt
*.docx
*.svg
*.csv

# Thrash Files
._*
.DS_Store
.Rhistory
.Rapp.history
.Rproj.user
.vscode

# Folders
extdata/
00_preprocess_metadata/data/*
01_sequencing_data/data/*
02_preprocess/data/*
02_preprocess/results/*
figures/data/*
figures/plots/*
figures/results/*
graphical_abstract/*
informs/*
supp_data/*
